
  
.card {
    background-color: rgb(237, 237, 243);
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    display: flex;
    margin: 5px; 
    width: 400px; 
    padding: 2vh;
    border-radius: 40px;
  
}
.card:hover{
    scale: 1.05;
    transition: 30ms;
}
.imagenCard{
    height: 30vh;
    width: 35vh;
    object-fit: cover;

}
.nombreProd{
    color: #000;
    justify-content: center;
    align-items: center;
}
.Prod{
    justify-content: center;
    align-items: center;
    color: black;
}
.cardBody{
    flex-direction: column;
}
.botones{
background-color:rgb(59, 189, 189) ;    border-radius: 8px;

}
.botonCart{
    background-color:rgb(59, 189, 189) ;
    border-radius: 8px;
    margin: 3%;
    justify-content: space-around;
}
.cont{
    display: flex;
    justify-content: center;
    background-color: cadetblue;
    align-items: center;
}